html {
    height: 100%;
}

body {
    background: #1c2936;
    position: relative;
    min-height: 100%;
}

.header {
    text-align: center;
    color: #fff;
    height: 10vh;
    background: #1b242d;
}

.conteiner {
    color: #fff;
    background: #263646;
    height: max-content;

   
}

.containerContact {
    display: block;
    width: 30%;
    float: left;
    height: auto;
}

.containerContact h2 {
    text-align: center;
    text-decoration: underline;
}

.contactInfo {
    margin-left: 30px;
}

.conteinerInfo {
    width: 70%;
    float: right;
    height: 100%;    
}

.info {
    margin: 30px;
}


.conteiner img {
    max-width: 100%;
}

.footer {
    color: #fff;
    /* height: 5vh; */
    text-align: center;
    text-decoration: underline;
    border-top: solid #000;;
}